%meta{:charset => "utf-8"}/	

-# Force latest IE rendering engine (even in intranet) &amp; Chrome Frame. Remove this if you use the .htaccess
%meta{'http-equiv' => 'X-UA-Compatible', :content => 'IE=edge,chrome=1'}	
%title Sinistra
%meta{:name => "description", :content => ""}
%meta{:name => "author", :content => ""}		

-# Mobile viewport optimized: http://j.mp/bplateviewport
%meta{:name => "viewport", :content => "width=device-width; initial-scale=1.0; maximum-scale=1.0;"}

-# Sets whether a web application runs in full-screen mode in Safari on iOS.
-# http://developer.apple.com/library/safari/#documentation/appleapplications/reference/SafariHTMLRef/Articles/MetaTags.html
%meta{:name => 'apple-mobile-web-app-capable', :content => 'yes'}

-# Shortcut Icons - Place favicon.ico and ati.png in the root of your domain and delete these references
-# %link{:rel => "shortcut icon", :href => "/favicon.ico", :type => "image/x-icon"}
-# %link{:rel => "apple-touch-icon", :href => "/apple-touch-icon.png"}