%link{ :href => '/stylesheets/screen.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen' }
%link{ :href => '/stylesheets/print.css', :rel => 'stylesheet', :type => 'text/css', :media => 'print' }
/[if IE]
  %link{ :href => '/stylesheets/main/ie.css', :rel => 'stylesheet', :type => 'text/css', :media => 'screen, projection' }